<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.coursera.fanchuan.android101">

    <!-- See build.gradle for uses-sdk information -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Define a word"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
